
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50..200,200..900&family=Martian+Mono:wdth,wght@75..112.5,100..800&display=swap');

:root {
    --sidesize: 420px;
    --padding: 15px;
    --mainsize: 770px;
    --logocolor: #AF3800;
    --darkercolor: #802A00;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--darkercolor);
    margin: 20px 0;
}

a {
    color: var(--darkercolor);
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}



body {
    /* font-family: 'Martian Mono', 'Courier New', Courier, monospace; */
    font-family: 'Inconsolata', 'Courier New', Courier, monospace;
    /* font-weight: 200; */
    /* font-variation-settings: 'wdth' 106; */
    padding: 0;
    margin: 0;
}

#sidebar {
    font-size: 1.3rem;
    color: var(--darkercolor);
    line-height: 1.2;
    letter-spacing: 0.027em;
    font-weight: 367;
}

#main {
    font-size: 1.2rem;
    color: var(--darkercolor);
    line-height: 1.2;
    letter-spacing: 0.027em;
    font-weight: 367;
}

@media (min-width: 1250px) { 
    /*  */
    #sidebar {
        width: var(--sidesize);
        max-width: none;
        margin: 0;
        /* height:60px; */
        /* background-color: blue; */
        /* padding: 5px; */
        padding: var(--padding);
    }
    
    #main {
        width: var(--mainsize);
        margin: 0;
        /* height: 60px; */
        position: absolute;
        background-color: lime;
        left: max(calc(var(--sidesize) + 2 * var(--padding)), calc(50% - var(--mainsize) / 2));
        top: 0;
        padding: var(--padding);
    }
}

@media (max-width: 1250px) {
    #sidebar {
        display: block;
        max-width: 600px;
        margin: 0 auto;
        /* height:60px; */
        background-color: blue;
        padding: var(--padding);
    }
    
    #main {
        display: block;
        max-width: 600px;
        margin: 0 auto;
        /* height:60px; */
        background-color: lime;
        padding: var(--padding);
    } 
}