---
import Layout from "../layouts/Layout.astro";
import CommitteeItem from "../components/CommitteeItem.astro";
---

<html>
	<Layout title="Committee">

		<h2>Current members</h2>
		<CommitteeItem
			href="https://www.linkedin.com/in/selvaradov/"
			name="Rohan Selva-Radov"
			imageUrl="/src/images/rohan.jpeg"
			role="President"
			>Hey - I'm Rohan, a second-year undergraduate studying PPE at Merton.<br
			/>Currently I'm working on AI safety investments
			at Macroscopic Ventures, and 
			exploring how information security and compute governance 
			could reduce catastrophic misuse risks of more powerful frontier AI models.
			Outside of AI, I'm a big fan of bouldering and gardening, and I'd be
			excited to chat about any & all of the above, or whatever big or small questions
			you're thinking about at the moment!
		</CommitteeItem>

		<CommitteeItem
      href="https://far.in.net/"
      name="Matthew Farrugia-Roberts"
      imageUrl="/src/images/matthew.jpg"
      role="Committee Member"
      >
      Hi, I'm Matthew! I'm a DPhil in Computer Science at Magdalen. I came to
      Oxford to deepen my understanding of technology and its future and to
      broaden my understanding of society and its history, in order to help
      these things work better together.
      <br/>
      My current technical research is on understanding emergent agency in
      reinforcement learning. In the past, I have worked on developmental
      interpretability and singular learning theory, goal misgeneralisation,
      neural network geometry, and inverse reinforcement learning. I'm excited
      to meet students and researchers across Oxford who are studying and
      working on all topics relevant to the future of AI and society.
    </CommitteeItem>

		<CommitteeItem
			href="https://www.linkedin.com/in/james--lester/"
			name="James Lester"
			imageUrl="/src/images/james.jpg"
			role="Committee Member"
			>Hi, I'm James, a first-year MPhil in Economics at Balliol.<br />I did my undergrad,
			also in Economics, at the other place, where I found out about AI safety and catastrophic
			risk through the uni's effective altruism community. Through the ERA:AI fellowship, I pursued a project
			on "risk compensation in AI deployment" -- the possibility that safety-promoting measures might have
			limited effect if they incentivise greater or more reckless deployment of new models. Aside
			from that, I've done short projects on modelling AI's effect on the labour market for software engineers
			and considering the possibility for "races to the bottom" between AI evals orgs, drawing on the auditing
			literature.<br />At OAISI, I help run programmes which introduce people to these ideas.
			Please reach out to chat about anything that takes your fancy!
		</CommitteeItem>

		<CommitteeItem
			href="https://www.linkedin.com/in/louis-thomson-222348168/"
			name="Louis Thomson"
			imageUrl="/src/images/louis.jpeg"
			role="Committee Member"
			>Hi, I'm Louis! I'm in my masters year doing Computer Science and
			Philosophy at Oxford, and my main interests include AI [control /
			safety / ethics], game theory, and cooperative AI. I've previously
			worked on the following projects (in order of recency): cooperation
			and alignment in multi-agent games (current project); AI-Control
			games; behavioural evaluations of deception in LLMs; and active
			learning in LLMs.<br />I'm always up for talking about all things
			CS, philosophy (particularly AI-relevant topics but also continental
			philosophy), and other entirely-not-work-related stuff like music
			and games!
		</CommitteeItem>

		<CommitteeItem
			href="https://www.linkedin.com/in/arjunkhandelwal29/"
			name="Arjun Khandelwal"
			imageUrl="/src/images/arjun.jpg"
			role="Committee Member"
			>Hi, I'm Arjun, a first-year undergraduate studying Computer Science and Philosophy at Christ Church.<br
			/>I previously contracted for METR where I helped develop evaluations for AI R&D.  At Oxford, I help run OAISI projects (an AI safety focused coworking group) and Oxhack (Oxford's annual student-led hackathon). I’d be interested in talking to you about the role of evals in AI safety , forecasting AI capabilities or anything that you're passionate about - I find most topics fascinating once I'm shown the right perspective! If you're in Oxford, I'd love to play chess, squash or go climbing with you.	
		</CommitteeItem>

		<CommitteeItem
			href="https://marsh.blue/"
			name="Nick Marsh"
			imageUrl="/src/images/nick.png"
			role="Advisor and co-founder"
		>
			Hi, I'm Nick! I'm a third-year CS and Philosophy student, currently on
			leave to work with the AI Futures Project, who recently released
			AI 2027. I'm
			interested in a bunch of areas in AI safety - I've done some
			mechanistic interpretability and priorities work previously and was a
			research assistant in the Human Information Processing lab here in
			Oxford. I'm also involved in running [orchard], a group for people to work on their
			passion projects. Feel free to reach out if you want to chat about
			AI safety, philosophy, or anything else!
		</CommitteeItem>

		<h2>Previous members</h2>
		<CommitteeItem
			href="https://www.linkedin.com/in/graciegreen/"
			name="Gracie Green"
			imageUrl="/src/images/gracie.jpeg"
			role="Co-founder"
			>
		</CommitteeItem>
	</Layout>
</html>
