---
// Clock.astro
---

<span id="clock" style="text-align: right;"></span>

<script>
  function updateClock() {
    const now = new Date();
    const options = { 
      hour12: false, 
      hour: '2-digit', 
      minute: '2-digit', 
      second: '2-digit',
      timeZone: 'Europe/London'
    };
    const timeString = now.toLocaleTimeString('en-US');
    const clock = document.getElementById('clock')
    if (clock) {
      clock.textContent = timeString;
    }
  }

  // Update the clock immediately and then every second
  updateClock();
  setInterval(updateClock, 1000);
</script>
