---

import Clock from '../components/Clock.astro'
import BigLogo from '../logos/biglogo.svg'
import SmallLogo from '../logos/smalllogo.svg'

interface Props { 
    title?: string;
}

const { title } = Astro.props;
---
<div id="sidebar">
    <div style="display: flex; gap: 1em;">
        <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
            <a href="/"><img data-big-logo={BigLogo.src} data-small-logo={SmallLogo.src} id="logo" src={BigLogo.src} height="100px"></a>
            <div id="menu-right" style="height: 100%; margin-left: auto; display: flex; flex-direction: column; justify-content: space-between;">
                <span id="title" style="text-align: right;">{title && <h1>{title}</h1>}</span>
                <Clock />
            </div>
        </div>
    </div>
    <div id="menu-content">
        <p>OAISI is the Oxford AI Safety Initiative. We are a community of students and researchers committed to reducing societal risks from advanced artificial intelligence.</p>
        <p>AI safety is a sociotechnical issue: we support both governance and technical work, and we run programmes to build skills in both.</p>
        <p>We'll open applications for programmes shortly, including our introductory fellowship.</p>
        <p>If you are a researcher working on AI safety visiting Oxford, please reach out to us <a href="mailto:visiting@oaisi.org">here</a>.</p>
        <!-- <hr> -->
        <a href="/committee">Committee</a><br>
        <a href="mailto:info@oaisi.org">Contact us</a><br>
        <!-- <a href="/">Instagram</a> -->
    </div>

    <hr id="menu-underline">
    <script>
    </script>
</div>
</div>
<script>
    function updateLogo() {
        const logo = document.getElementById('logo');
        const bigLogoSrc = logo?.dataset.bigLogo;
        const smallLogoSrc = logo?.dataset.smallLogo;
        if (window.innerWidth < 1250 && smallLogoSrc) {
            logo?.setAttribute('src', smallLogoSrc)
            logo?.setAttribute('height', '50px');
        } else if (bigLogoSrc) {
            logo?.setAttribute('src', bigLogoSrc)
            logo?.setAttribute('height', '100px');
        }
    }
    function toggleMenuContent() {
        const menuContent = document.getElementById('menu-content');
        const underline = document.getElementById('menu-underline');
        const menuRight = document.getElementById('menu-right');
        const title = document.getElementById('title')

        const isIndexPage = window.location.pathname === '/' || window.location.pathname === '/index.html';

        if (isIndexPage && title) {
            title.style.display = 'none';
        }

        if (window.innerWidth < 1250 && underline) {
            underline.style.display = 'block';
        } else if (underline) {
            underline.style.display = 'none';
        }
        
        if (window.innerWidth < 1250 && !isIndexPage && menuContent && underline && menuRight) {
            menuContent.style.display = 'none';
            menuRight.style.flexDirection = 'row';
            menuRight.style.justifyContent = 'center';
            menuRight.style.alignItems = 'center';
            menuRight.style.columnGap = '20px';

        } else if (menuContent && underline && menuRight) {
            menuContent.style.display = 'block';
            menuRight.style.flexDirection = 'column';
            menuRight.style.justifyContent = 'space-between';
            menuRight.style.alignItems = 'none';
            menuRight.style.gap = 'unset';
        }
    }

    // Initial call
    toggleMenuContent();

    // Add event listener for window resize
    window.addEventListener('resize', toggleMenuContent);
    updateLogo();
    window.addEventListener('resize', updateLogo);
</script>
<style>
    .underlinedmenu {

    }
</style>