---
interface Frontmatter {
	title: string;
}

interface Props {
	title?: string;
	frontmatter?: Frontmatter;
}

import '../styles/global.css';
import Menu from '../components/Menu.astro'
import Container from '../components/Container.astro'
const { title, frontmatter } = Astro.props;
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<!-- <meta name="description" content="OAI" /> -->
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{(frontmatter && frontmatter.title) || title  ? `${(frontmatter && frontmatter.title) || title} - OAISI` : 'OAISI'}</title>
	</head>
	<body>
		<Menu title={(frontmatter && frontmatter.title) || title}/>
		<Container><slot /></Container>
	</body>
</html>